@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  /*colors*/
  --color-primary-strong-cyan: hsl(171, 66%, 44%);
  --color-primary-light-blue: hsl(233, 100%, 69%);
  --color-neutral-dark-grayish-blue: hsl(210, 10%, 33%);
  --color-neutral-grayish-blue: hsl(201, 11%, 66%);
  /*font*/
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-family: "Bai Jamjuree", sans-serif;
  --font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
}
body {
  display: grid;
  gap: 60px;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
.picture {
  position: absolute;
  width: 100%;
}
.bg-head-picture img {
  width: 100%;
}
.sec_one {
  margin-top: 100px;
  display: grid;
  place-items: center;
  gap: 35px;
}
.big-logo > img {
  width: 120px;
}
.article_one {
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-dark-grayish-blue);
  margin-bottom: 15px;
}
h2 {
  text-align: center;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-dark-grayish-blue);
  margin-bottom: 20px;
  font-size: 30px;
}
p {
  color: var(--color-neutral-grayish-blue);
  line-height: 1.9;
}
.article_one > p {
  width: 650px;
  margin-bottom: 45px;
  text-align: center;
}

ul > li {
  display: inline;
  list-style-type: none;
}
button {
  border: none;
  width: 220px;
  border-radius: 35px;
  padding: 15px;
  color: white;
  font-weight: var(--font-weight-semibold);
  font-size: 19px;
  margin: auto 10px 50px 10px;
}
button:hover {
  cursor: pointer;
}
.btn-green {
  background-color: var(--color-primary-strong-cyan);
  box-shadow: 0 2px 1px hsl(171, 66%, 30%),
    0 3px 6px var(--color-primary-strong-cyan);
}
.btn-blue {
  background-color: var(--color-primary-light-blue);
  box-shadow: 0 2px 1px hsl(233, 100%, 55%),
    0 3px 6px var(--color-primary-light-blue);
}
.btn-green:hover {
  background-color: hsl(171, 66%, 48%);
}
.btn-blue:hover {
  background-color: hsl(233, 100%, 73%);
}
.sec_two {
  display: grid;
  place-items: center;
  margin-bottom: 90px;
}
.sec_two > p {
  width: 650px;
  margin-bottom: 100px;
  text-align: center;
}
.sec_two > .features {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
}

.features > article > img {
  position: absolute;
  top: -1%;
  left: -3vw;
  width: 40rem;
}
.sec_two > .features > .features__list {
  padding: 60px 125px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  zoom: 80%;
}

.sec_two > .features > .features__list > article > h3 {
  color: var(--color-neutral-dark-grayish-blue);
  font-size: 25px;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 10px;
}
.sec_two > .features > .features__list > article > p {
  margin-bottom: 65px;
}
.sec_three {
  display: grid;
  place-items: center;
}
.sec_three > p {
  margin: auto 380px auto 380px;
  margin-bottom: 45px;
  text-align: center;
}

.sec_four {
  text-align: center;
  max-width: 1400px;
  padding: 0px 1.5rem 6rem;
  margin: auto;
}
.sec_four > .article_four {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 80px;
}
.sec_four > .article_four > div {
  display: block;
  place-items: center;
  padding: 10px;
}
.sec_four > .article_four > div > h3 {
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-dark-grayish-blue);
  margin-bottom: 15px;
}

.sec_four > .article_four > div > img {
  margin-bottom: 35px;
}
.sec_five ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
  margin-bottom: 6rem;
}
.sec_six {
  display: grid;
  place-items: center;
}
.sec_six > p {
  text-align: center;
  max-width: 700px;
  margin-bottom: 50px;
}
footer {
  background-color: rgba(159, 171, 178, 0.2);
  padding: 2rem 1.5rem;
}
footer > article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
}
footer > article > img {
  width: 90px;
}
footer > article > .links {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 9rem;
}

footer > article > .links > ul {
  font-weight: var(--font-weight-semibold);
  padding: 10rem auto;
  display: grid;
  gap: 25px;
}
footer > article > .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
footer > article > .links > ul > li {
  color: var(--color-neutral-dark-grayish-blue);
  font-weight: var(--font-weight-regular);
}
footer > article > .links > ul > li:hover {
  cursor: pointer;
  color: var(--color-primary-strong-cyan);
}
footer > article > .social > li {
  max-height: 22px;
}
footer > article > .social > li:hover {
  cursor: pointer;
  filter: invert(55%) sepia(57%) saturate(515%) hue-rotate(122deg)
    brightness(98%) contrast(92%);
}
@media screen and (max-width: 768px) {
  body {
    place-content: center;
    width: 100vw;
    text-align: center;
  }

  .article_one {
    text-align: center;
  }
  h1,
  h3 {
    width: 70vw;
  }
  h2 {
    width: 70vw;
    text-align: center;
  }

  .picture {
    width: 100vw;
  }
  .picture > img {
    width: 100vw;
  }
  .sec_one {
    place-content: center;
  }
  .sec_one > .article_one > p {
    width: 70vw;
  }
  p {
    width: 70vw;
    text-align: center;
  }
  .sec_two > p {
    width: 70vw;
  }
  .sec_two {
    text-align: center;
    place-content: center;
    margin-bottom: 20px;
  }
  .sec_two > .features {
    position: none;
    display: block;
  }

  .sec_two > .features > article > img {
    position: inherit;
    text-align: center;
    width: 80vw;
  }
  .sec_two > .features > article {
    text-align: center;
  }
  .sec_three > img {
    width: 80vw;
  }

  .sec_four > .article_four {
    grid-template-columns: repeat(1, 0fr);
  }
  .sec_four > .article_four > div > h3 {
    text-align: center;
    width: 100%;
  }
  .sec_four > .article_four > div > img {
    width: 15vw;
  }
  .sec_five {
    text-align: center;
  }
  .sec_five ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  footer {
    width: 100%;
  }
  footer > article {
    display: flex;
    gap: 4rem;
    flex-direction: column;
  }
  footer > article > .links {
    align-items: center;
    gap: 2rem;
    flex-direction: column;
  }
  footer > article > .links > ul {
    gap: 2rem;
  }
  ul > li {
    display: block;
  }
  button {
    margin-bottom: 40px;
    width: 350px;
    height: 60px;
  }
}
